/*==========Buttons==========*/

.btn {
    text-decoration: none;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    font-family: 'Panton-Regular';
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 9px 18px 6px;
    text-align:center;
    margin-bottom:20px;
}

.red {
    background: url('../images/btn.png') repeat-x scroll center top #CC3300;
    border: 1px solid #B92800;
    color: #FFFFFF;
}

.red:hover {
    text-decoration: none;
    background-color:#E23800;
    border-color: #cd2c00;
    color: #ffffff;
}
.yellow {
    background: url('../images/btn.png') repeat-x scroll center top #CC3300;
    background-color: #FFC000;
    border-color: #EBB100;
    color: #000000;
}

.yellow:hover {
    background-color:#FFcc00;
    border-color: #eabb00;
    color: #000000;
    text-decoration: none;
}

.green {
    background: url('../images/btn.png') repeat-x scroll center top #CC3300;
    background-color: #6a890e;
    border-color: #536c0b;
    color: #ffffff;

}

.green:hover {
    text-decoration: none;
    background-color:#7a930a;
    border-color: #839f08;
    color: #ffffff;
}
.blue {
    background: url('../images/btn.png') repeat-x scroll center top #CC3300;
    background-color: #0084c5;
    border-color: #0572a8;
    color: #ffffff;
}

.blue:hover {
    text-decoration: none;
    background-color:#258ec2;
    border-color: #2884b2;
    color: #ffffff;
}

#counter {
    margin-bottom:15px;
}
