/*=======reset style======*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==========end reset==========*/


/*==========basic styles==========*/
body {
    background:#FAF9F5 url('../images/bg12.png') repeat;
    color: #222;
}

.container {
    width: 960px;
    margin: auto;
    position: relative;
}


h1,h2,h3,h4,h5 {
    font-family: 'Panton';
}

h1 {
    font-size: 24px;
    padding: 10px 0;
    margin: 10px 0;
} 

h2 {
    font-size: 22px;
    padding: 10px 0px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

small {
    font-size: 12px;
}

/*.clearfix {
    clear: both;
}*/

/*h1,h2,h3,h4,h5 {
    font-family: 'Panton';
    color: #666;
} */

blockquote {
    font-family: 'Panton';  
}

/*p {
/*    font-family: 'Anaheim';
    font-family: 'Panton';
    margin-top: 10px;
    margin-bottom: 10px;
    color: #888;
    font-size: 14px;
} */



/*==========top(above logo)==========*/
.top {
    background: #B92800;
    padding:10px;
/*    text-transform:uppercase; */
}

.top h2.btn .yellow {
    padding: 12px;
}

.top h4 {
    color: white;
    float: left;
    width: 720px;
    padding: 10px;
    font-family: 'Panton';
    font-size: 14px;
    letter-spacing: 1px;
}

.top p {
    position:relative;
    font-family: 'Panton';
    font-size: 14px;
    line-height: 18px;
    padding: 24px 32px 1px;
    margin-left:0px;
    color: #ffff00;
    
}

/*==========end top==========*/


 


/*==========Theme header==========*/
.header {
    margin-top: 40px;
    height: 100px;
}

.logo {
    float: left;
    width: 300px;
}

.menu {
    float: right;
    width: 450px;
    font-size: 80%;
    opacity: 0.6;
    color:black;
}

.menu ul {
    margin: 10px;
    padding: 4px;
    float:right;
}

.menu ul, li {
    margin: 15px;
    margin-right:0px;
    padding: 0;
    display:inline;
}
.menu ul,li a {
    text-decoration:none;
    font-family: 'Panton';
    color:black;
}


.facebook {
    background:url('../images/iconpack/fb.png') no-repeat left top;
}

.twitter {
    background:url('../images/iconpack/twitter.png') no-repeat left top;
}

.google {
    background:url('../images/iconpack/google.png') no-repeat left top;
}

.rss {
    background:url('../images/iconpack/rss.png') no-repeat left top;
}

.forrst {
    background:url('../images/iconpack/forrst.png') no-repeat left top;
}

.dribble {
    background:url('../images/iconpack/dribble.png') no-repeat left top;
}

.social li a:hover {
    background-position:0 -24px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;    
    transition: all 0.4s ease-in-out;
}

/*==========end header==========*/

/*==========Buttons==========*/

.btn {
    text-decoration: none;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    font-family: 'oswald';
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 9px 32px 10px;
}

.red {
    background: url('../images/btn.png') repeat-x scroll center top #CC3300;
    border: 1px solid #B92800;
    color: #FFFFFF;
}

.red:hover {
    text-decoration: none;
    background-color:#E23800; 
    border-color: #cd2c00;
    color: #ffffff;
}

.yellow {
    background: url('../images/btn.png') repeat-x scroll center top #CC3300;
    background-color: #FFC000;
    border-color: #EBB100;
    color: #000000;
}

.yellow:hover {
    background-color:#FFcc00; 
    border-color: #eabb00;
    color: #000000;
    text-decoration: none;
}

.green {
    background: url('../images/btn.png') repeat-x scroll center top #CC3300;
    background-color: #6a890e;
    border-color: #536c0b;
    color: #ffffff;
    
}

.green:hover {
    text-decoration: none;
    background-color:#7a930a; 
    border-color: #839f08;
    color: #ffffff;
}

.blue {
    background: url('../images/btn.png') repeat-x scroll center top #CC3300;
    background-color: #0084c5;
    border-color: #0572a8;
    color: #ffffff;
}

.blue:hover {
    text-decoration: none;
    background-color:#258ec2; 
    border-color: #2884b2;
    color: #ffffff;
}

/*==========end buttons==========*/



/*==========block==========*/
.block {
    clear: both;
    float: left;
    width: 100%;
    background:#ffffff;
}

/*==========end block==========*/


/*=========main================ */
.main {
    background:#ffffff;
    position:relative; /*fuck how does it works?*/
    text-align: left;
    width: 960px;
    overflow:hidden;
}

.slide-show {
    clear: both; /*fuck how does it works?*/
    height: 320px;
    float:left;
}

.main-description {
    background: #333 url('/static/images/bg4.png') repeat;/*how does flask work with url?*/
    color: #FFFFFF;
    display:block; /*fuck how does it works?*/
    float:right;
    height: 280px;
    padding:20px;
    position:absolute; /*fuck how does it works?*/
    right:0;
    width: 342px;
}

.main-description h2 {
    color: #fff;
}

.main-description h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fcc000; /*35acc8;*/
}

.main-description p {
    font-family: 'Panton';
    line-height: 24px;
    font-size: 15px;
}
.main-description p.sidetext{
    font-size: 11px;
    line-height: 16px;
}

.main-description p.sidetext span{
    color: #fcc000;
}

.main-description .btn {
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom:30px;
    padding: 12px 20px;
}


/*=============end main-description===========*/

/*============taglain==================*/
.tagline {
    background: none repeat scroll 0 0 #ffffff;
    padding: 30px;
    text-align: center;
}

.tagline h1 {
    text-transform: uppercase;
    font-family:'Panton'
}
.tagline p {
    line-height: 20px;
    font-family:'Panton';

}
/*=============end tagline=============*/


/*=========features==============*/
.feature {
    float:left;
    padding: 17px;
    text-align: center;
    width: 206px;
    background: #FAF9F5;
    font-family: 'Panton';
}

.feature h3 {
    background: #FAF9F5;
    color: #666666;
    padding: 10px 0;
    font-family: 'Panton';
    margin-bottom: 20px;
}

.feature p {
    line-height: 25px;
}

.feature img {
    width: 20px;
    height: 20px;
    color: #666666;
    opacity: 0.6;
}

.partners {
    background:#FFFFFF;
    float:left;
    text-align:center;
    width: 100%;
}

.partners p {
    text-align:right;
    line-height:30px;
    font-family: 'Panton';
}

.partners-name {
    text-align:center;
    float:left;
    width: 300px;
}

.about {
    font-family:'Panton';
    line-height: 30px;
    
}

.rules {
    width: 400px;
    float:left;

}

.send-form {    
    width: 400px;
    float:left;
}
.send-form p {
    width: 300px;
}

.bla-bla {
    background:#ffffff;
    position:relative; /*fuck how does it works?*/
    width: 960px;
    overflow:hidden; 
}

.articles {
    width: 100%;
    float:left;
    background: #ffffff;
}
.articles h1 {
    margin: 20px;
}
.articles a {
    cursor: pointer;
}


/*form {
    display:block;
    margin: 0 auto;
    letter-spacing:2px;
    width: 459px;
}
input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}
textarea {
    height:213px;
    background:url(images/textarea-bg.jpg) right no-repeat #efefef;
} */


/*==========footer==========*/
.footer {
    background: none repeat scroll 0 0 #333;
    color: #EEEEEE;
    margin-top: 30px;
    height: 20px;
    padding: 20px;
}


.footer-text{
    float: left;
    width: 400px;
}

/*.footer p{
    width: 400px;
}*/

.footer .menu{
    float: right;
    clear: none;
}

/*==========end footer==========*/
