/*=======reset style======*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*==========end reset==========*/


/*==========basic styles==========*/
body {
    background:#FAF9F5 url('../images/bg12.png') repeat;
    color: #222;
    width: 960px;
    margin:auto;
  /*  position:relative; */
}

/*.container {
    width: 960px;
    margin: auto;
    position: relative;
}*/


h2,h3,h4,h5 {
    font-family: 'Panton-Bold';
}

h1 {
    font-family: 'Panton-ExtraBold';
    font-size: 24px;
    padding: 10px 0;
    margin: 10px 0;
} 

h2 {
    font-size: 22px;
    padding: 10px 0px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

small {
    font-size: 12px;
}

blockquote {
    font-family: 'Panton-Regular';  
}

p {
    font-family: 'Panton-Regular';
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}


/*ENTER*/
.enter {
    font-family: 'Panton-Regular';
    float:right;
    margin-right:30px;
}
.enter a {
    text-decoration:none;
    color:black;
    margin-left:25px;
    float:right;
    padding-top:8px;
}

.enter p {
    margin:0px !important;
    float:right;
}



/*==========top(above logo)==========*/
.top {
    background: #B92800;
    padding:8px;
}

.top h4 {
    color: white;
    float: left;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    float:left;
    font-style:italic;
}

.top p {
    position:relative;
    font-family: 'Panton-Regular';
    font-size: 14px;
    line-height: 18px;
    color: #ffff00;
    display:inline-block;
    margin-top:20px;
    margin-bottom:0px;
}

/*==========end top==========*/


 


/*==========Theme header==========*/
.header {
    margin-top: 40px;
    height: 100px;
}

.logo {
    float: left;
    width: 250px;
}

/*#navigation {
    float: right;
    width: 500px;
    font-size: 18px;
    color:black;
    margin-top: 20px;
} */

.menu {
    float:right;
    font-size:18px;
    color:black;
    margin-top:20px;
} 
.menu #navigation {
    float:right;
}

#navigation ul, li {
    margin: 15px;
    margin-right:0px;
    padding: 0;
    display:inline;
}
#navigation ul,li a {
    text-decoration:none;
    font-family: 'Panton-Regular';
    color:black;
}
 
#navigation li a:hover, #navigation li .active_menu{
    color: #f99600;
}

/*==========end header==========*/

/*==========block==========*/
.block {
    clear: both;
    float: left;
    width: 100%;
    background:#ffffff;
}
/*==========end block==========*/


/*=========main================ */
.main {
    background:#ffffff;
    position:relative;
    text-align: left;
    width: 960px;
    overflow:hidden;
}

.main-description {
    background: #333 url('/static/images/bg4.png') repeat;
    color: #FFFFFF;
    float:right;
    height: 280px;
    padding-right:10px;
    padding-left:10px;
    position:absolute; /*fuck how does it works?*/
    right:0;
    width: 342px;
}

.main-description h2 {
    color: #fff;
    margin-left:15px;
    margin-top:5px;
}

.main-description h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fcc000; /*35acc8;*/
}

.main-description p {
    margin-left:15px;
    line-height: 24px;
    font-size: 15px;
}
.main-description p.sidetext{
    font-size: 11px;
    line-height: 16px;
}

.main-description p.sidetext span{
    color: #fcc000;
}

.main-description .btn {
    margin-left: 110px;
}


/*=============end main===========*/

/*-----------slideshow-slider-----------*/

#slideshow {
/*    clear: both; fuck what does this shet makes in this places?*/
    height: 280px;
    float:left;
    width:600px; 
    position:relative;
}
#slideshow ul {
    height:280px; 
    list-style: none outside none;
    overflow:hidden;
    width:inherit;
}
#slideshow li {
    display:none;
    margin:0px;
}
#slideshow li:first-child {
    display:block;
}
#slideshow canvas {
    display:none;
    position:absolute;
}
#slideshow .arrow {
    height:29px;
    width:21px;
    position:absolute;
    top:45%;
    cursor:pointer;    
}
#slideshow .previous{
    background-position: left top;
    background: url('/static/images/left_arrow.png') no-repeat;
    left:0;
    margin-left:5px;
}
#slideshow .next{
    background-position: right top;
    background: url('/static/images/right_arrow.png') no-repeat;
    right:0;
    margin-right:5px;
}
/*--------end-slideshow----------*/


/*============taglain==================*/
.tagline {
    background: none repeat scroll 0 0 #ffffff;
    padding: 30px;
    text-align: center;
}

.tagline h1 {
    text-transform: uppercase;
}
.tagline h3 {
    line-height: 40px;

}
/*=============end tagline=============*/

/*=========features==============*/
.feature {
    float:left;
    padding: 17px;
    text-align: center;
    width: 206px;
    background: #FAF9F5;
    font-family: 'Panton';
}

.feature h3 {
    background: #FAF9F5;
    color: #666666;
    padding: 10px 0;
    font-family: 'Panton-Bold';
    margin-bottom: 20px;
}

.feature p {
    line-height: 25px;
}

.feature img {
    width: 50px;
    height: 50px;
    color: #666666;
    opacity: 0.6;
}

.feature a {
    text-decoration:none;
    color:#666666;
}

/*====== blocks =======*/
.general-graphic-block {
    background:#FFFFFF;
    float:left;
    text-align:left;
    width: 100%;
}

.general-graphic-block h1 {
    text-align:center;
    line-height:30px;
}

.graphic-block {
    text-align:center;
    width: 30.3%;
    margin:10px;
    display: inline-block;
    margin-bottom:60px;
}

.graphic-block h3 {
    margin: 20px;
}

.additional-block {
    width: 60.6%;
    text-align:center;
    display: inline-block;
}

.about {
    line-height: 20px;
}

.about-text {
    margin-bottom:30px;
}

.about-text h2 span {
    display:inline;
    font-size:16px;
}

.rules {
    text-decoration: none;
    width: 500px;
    float:left;
    margin:10px;
}

.rules h1 {
    margin-top:10px;
    margin-left:25px;
}

.rules ul li {
    background:url('/static/images/disc.png') no-repeat;
    padding-left: 15px;
    display:block;
    text-align:justify;
    font-family:'Panton-Regular';
    line-height:20px;
}

.file-formats {
    font-size:18px;
	font-family:"Panton-Bold";
}

.create-block h1 {
    text-align:center;
}

.create-block h5 {
    margin:20px;
}
.create-block p {
    text-align:center;
}

.articles {
    width: 100%;
    float:left;
    background: #ffffff;
}
.articles h1 {
    margin-left: 50px;
}
.articles a {
    cursor: pointer;
}
.articles img {
    width:450px;
    height:80px;
    margin-left:50px;
    margin-top:8px;
} 

.article-read {
    width: 90%;
    margin:auto;
    overflow:hidden;
    text-align:center;
    border:2px solid;
    border-color:#DCDCDC;
}

.service {
    margin-top: 50px;
    margin-right: 1px;
    clear:both;
    background:#ffffff;
}
.service h2 {
    text-align:center;
}

.service ul li {
    padding-left: 20px;
    display:block;
    font-family:'Panton-Regular';
    background: url('../images/disc.png') no-repeat;
}

.service ul li span {
    display:inline;
    font-weight:bold;
}

.service img {
    padding-right: 10px;
    width: 12px;
    opacity: 0.5;
}

.comments {
    clear:both;
    float:left;
    width:100%;
    margin-top:10px;
}

.get-article {
    display:inline-block;
    margin-left:50px;
    margin-top:20px;
}

.get-article p span {
    font-family:'Panton-Bold';
    font-size:15px;
}
.article-range {
    margin-right:50px;
    margin-top:30px;
    float:right;
}

.article-range p span {
    font-size:30px;
    font-family:'Panton-Bold';
}

.additional_img {
   display:inline-block;
   margin-top:50px;
   margin-left:80px; 
}

.flash-message li {
    margin:0px;
}

.user {
    margin-left:45px;
    display:inline-block;
    width:400px;
}
.user_comment {
    margin-bottom:20px;
}
.comment_field {
    font-weight:bold;
    font-size:15px;
}
.user [name=next_button]{
/*.comment_navigation {*/
    color:#1E90FF;
    float:right;
    display:none;
}

.user [name=previous_button]{
    color:#1E90FF;
    float:left;
    display:none;
}

.user [name]:hover {
    cursor:pointer;
}
.user [name] p {
    text-size:16px;
}

.admin {
    float:right;
    display:inline-block;
    margin-right:45px;
    width:360px;
}
.admin h4 {
    margin-bottom:20px;
}
.admin [name=next_button]{
/*.comment_navigation {*/
    color:#1E90FF;
    float:right;
}
.admin [name=previous_button]{
    color:#1E90FF;
    float:left;
}
.admin [name]:hover {
    cursor:pointer;
}
.admin [name] p {
    text-size:16px;
}

.decision {
    margin:50px;
}

.contact_page {
    position:relative;
    background:white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
}
.contacts {
    background: url('/static/images/bg4.png') repeat;
    height:94%;
    top:0;
    right:0;
    position:absolute;
    width:25%;
    margin:20px;
}

.contacts dl {
    margin:20px;
}
.contacts dt {
	text-transform: uppercase;
    font-family: "Panton-ExtraBold";
    /*font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;*/
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
    color: #e8554e;
}
.contacts dd {
	color: #204a65;
	margin-bottom: 25px;
	margin-top:5px;
}

.contacts p {
	line-height:20px;
	margin:20px;
	font-size:16px;
}

.culture-citizen {
	font-family:'Panton-Bold';
}

.opinion {
    margin-top:20px;
    word-break:break-all;
}
.opinion textarea {
    width:95%;
}

.radioButton {
    display:inline-block;
    text-align:center;
    margin:5px;
}

.radioButton label {
    display:block;
    margin:0px;
    margin-right:2px;
    margin-bottom:5px;

}
.radioButtons input {
    margin:0;
    clear:both;
    display:block;
}


/*=========FORMS==========*/



/*==========footer==========*/
.footer {
    background: #333 url('/static/images/bg4.png') repeat;
    color: #EEEEEE;
    margin-top: 30px;
    height: 20px;
    padding: 20px;
    clear:both;
}


.footer-text{
    float: left;
    width: 400px;
}

/*.footer p{
    width: 400px;
}*/

.footer .menu{
    float: right;
    clear: none;
    margin-top:0px;
}

.error {
    margin:auto;
    text-align:center;
}
.error h2 {
    font-size:30px;
    text-transform:uppercase;
}
.error p {
    margin-bottom:30px;
    font-size:20px;
}
.error span {
    color:blue;
}
/*==========end footer==========*/


/*============ ANIMATION ==========*/

.lamp {
    background:url("/static/images/lamp.png") no-repeat;
    width:150px;
    height:150px;
    background-size: 150px 150px;
    margin:auto; 
}

.lamp:hover {
    background:url("/static/images/lamp.gif") no-repeat;
    background-size: 150px 150px;
}

.letter {
    background:url("/static/images/letter.png") no-repeat;
    width:100px;
    height:100px;
    background-size: 100px 100px;
    margin:auto; 
}

.letter:hover {
    background:url("/static/images/letter.gif") no-repeat;
    background-size: 100px 100px;
}

.check {
    background:url("/static/images/check.png") no-repeat;
    width:100px;
    height:100px;
    background-size: 100px 100px;
    margin:auto; 
}

.check:hover {
    background:url("/static/images/check.gif") no-repeat;
    background-size: 100px 100px;
}

.bilbord {
    background:url("/static/images/bilbord.png") no-repeat;
    width:150px;
    height:150px;
    background-size: 150px 150px;
    margin:auto; 
}

.bilbord:hover {
    background:url("/static/images/bilbord.gif") no-repeat;
    background-size: 150px 150px;
}

.cogweel img:hover {
-webkit-animation-name: rotation;
-webkit-animation-duration: 10s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-moz-animation-name: rotation;
-moz-animation-duration: 10s;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
-o-animation-name: rotation;
-o-animation-duration: 10s;
-o-animation-iteration-count: infinite;
-o-animation-timing-function: linear;
animation-name: rotation;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@-webkit-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@-moz-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@-o-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(720deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
/*=======color play ==========*/
/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
} */


.pic {
  float: left;
  height: 50px;
  width: 50px;
  margin: 20px;
  overflow: hidden;
   
/*  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  */
}

.bw {
  -webkit-filter:brightness(0%);
  filter: brightness(0%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

