<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
  <title>City</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel='stylesheet' type='text/css' href="../static/css/fonts.css">
  <link rel="stylesheet" type='text/css' href="../static/css/styles.css">
  <link rel="stylesheet" type='text/css' href="../static/css/buttons.css">
  <link rel="stylesheet" type='text/css' href="../static/css/forms.css">
  <link rel="stylesheet" type='text/css' href="../static/css/tablestyle.css">
  <link rel="stylesheet" type='text/css' href="../static/css/add_file_button.css">
  <link rel="shortcut icon" href="../static/images/favicon.ico">
  <link rel="culture-city-icon" href="../static/images/culture-city-icon.png">
  <link rel="culture-city-icon" sizes="72x72" href="../static/images/culture-city-icon-72x72.png">
  <link rel="culture-city-icon" sizes="114x114" href="../static/images/culture-city-icon-114x114.png">
</head>
<body>
   
  
  <div class="top">
    <h4>"Культура объединяет все стороны человеческой личности"</h4>
    <p>Дмитрий Cергеевич Лихачев</p>
  </div>
  <div class="header">
    <div class="logo"> 
      <img src="../static/images/logo.png" width="250" height="60" alt="logo">
    </div>
      <div class="menu">
        <ul id="navigation">
          <li><a href="index.html">Главная</a></li>
          <li><a href="about.html">О проекте</a></li>
          <li><a href="create.html">Создать</a></li>
          <li><a href="read.html">Читать</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="error">
    <p>There is internal server error. <br>Please write us on email <span>culture-city@gmail.com</span></p>
    <h2>Error page is in design</h2>
    </div>    
    <div class="footer">
      <p class="footer-text">Copyright &copy; 2016, проект "Культурный город"</p>
      <div class="menu">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Создать</a></li>
          <li><a href="#">Читать</a></li>
          <li><a href="#">Контакты</a></li> 
        </ul>
      </div>
    </div>
</body
</html>


