{% extends "base.html" %}

{% block content %}
<div class="about">
  <div class="text">
    <h1>Проект "Культурный город" - </h1>
    <p style="font-family:Panton-Italic;">&emsp;Проект, нацеленный на улучшение культурного уровня жизни людей, улучшения их культурного окружения.</p>
    <p>В окружающем пространстве "рекламного содержимого" "Культурный город" намерен разбавить этот контент интересной,</p>
    <p>полезной информацией, которой горожане смогут делиться друг с другом </p>
  </div>
  
   <div class="general-graphic-block">
    <h1>Как работает проект</h1>
      <div class="graphic-block">
        <img src="/static/images/lamp.svg" width="100" height="100" alt=""></img>
        <h3>Придумай интересную статью</h3>
      </div>

      <div class="graphic-block">
        <div class="make"><img src="/static/images/cogweel.svg" width="100" height="100" alt=""></img></div>
        <h3>Сделай интересный дизайн<h3>
      </div>

      <div class="graphic-block">
        <img src="/static/images/letter.svg" width="100" height="100" alt=""></img>
        <h3>Отправь ее в <br>"Культурный город"<h3>
      </div>

      <div class="graphic-block">
        <img src="/static/images/check_mark.svg" width="100" height="100" alt=""></img>
        <h3>Мы проверим ее на орфографию<h3>
      </div>

      <div class="additional-block">
        <img src="/static/images/posted.png" width="100" height="100" alt=""></img>
        <h3>И разместим у наших рекламных партнеров</h3>
      </div>
  </div>
 
  <div class="service">
  <h2>Идейность проект</h2>
    <ul>
        <li>"Культурный город" разбавляет окружающий рекламный контент,но не предоставляет его</li>
        <li>"Культурный город" делают люди</li>
        <li>"Культурный город" за развитие</li>
        <li>"Культурный город" объединяет людей</li>
        <li>"Культурный город" - Культурный город</li>
        <li>"Культурный город" одобрен Минздравом РФ</li>
        <li>"Культурный город" за понимание</li>
        <li>"Культурный город" краучего вообще Ара слушай</li>
    </ul>
  </div>
</div>

{% endblock %}
