{% extends "base.html" %}

{% block content %}


<div class="about">
<h1>Проект "Культурный город" </h1>
<p>был основан в 2000000 году двумя зрелыми ребятами из новоселецка. Каждый день они вели образ жизни, ели пили отдыхали а потом подумали что можно взять и сделать такой вот проект. Ну и сделали. И теперь хорошо. По крайней мере так хорошо что нормико-парамико. И дальше будет еще лучше, еще больше, еще интереснее. Потому что цена всему этому - страсть, любовь, дружба и прочий тарарам. Вообщем любите друг друга и будьте щастливы. Все будет точно точно хорошо.</p>
</div>



{% endblock %}
