<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
  <title>City</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/forms.css') }}">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/tablestyle.css') }}">
  <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/add_file_button.css') }}">

<!-- what da fuck is that??? -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">
<!-- ?????????????????????? -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="{{ url_for('static', filename='javascript/backlightLink.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/tiny_scripts.js') }}"></script>
</head>
<body>
   {% if current_user.is_authenticated %}
   <div class="enter"> 
       <p>Привет {{current_user.login}}</p>
       <a href='logout'>Выйти</a>
   </div>
   {% endif %}
   
   {% if not current_user.is_authenticated %}
   <div class="enter">
     <a href="login">Войти</a>
   </div>
   {% endif %} 
  
  <div class="top">
    <h4>Культура объединяет все стороны человеческой личности</h4>
    <p>Дмитрий Cергеевич Лихачев</p>
  </div>
  <div class="header">
    <div class="logo"> 
      <img src="static/images/logo.png" width="250" height="60" alt="logo">
    </div>
      <div class="menu">
        <ul id="navigation">
          <li><a href="index.html">Главная</a></li>
          <li><a href="about.html">О проекте</a></li>
          <li><a href="create.html">Создать</a></li>
          <li><a href="read.html">Читать</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
{% block content %} 

{% endblock %}
    <div class="footer">
      <p class="footer-text">Copyright &copy; 2016 </p>
      <div class="menu">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Создать</a></li>
          <li><a href="#">Читать</a></li>
          <li><a href="#">Контакты</a></li> 
        </ul>
      </div>
    </div>
<script type="text/javascript">shineLinks('navigation');</script>
<!--SLIDER scripts--!>
<script src="{{ url_for('static', filename='javascript/jquery-1.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/autoadvance.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/changescript.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/custom-file-input.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/jquery.custom-file-input.js') }}"></script>
</body
</html>


