<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
<title>City</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/mainfonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylemain.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tablestyle.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_file_button.css') }}">

<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/touchTouch.css') }}"> -->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"> -->
<!--[if lt IE 9]>
<![endif]-->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">
<script src="{{ url_for('static', filename='javascript/backlightLink.js') }}"></script>

</head>
<body>
<div class="container">
  <div class="top">
<!--    <h4>Great New Deals in Shopping Festival this year. Get Discount upto 70%</h4> -->
    <h4>Культур мультур барабульдур кана мене ваза бла-бла. Такие дела.</h4>
    <p>Владимир Ленин</p></div>
  <div class="header">
    <div class="logo"> <img src="static/images/color-logo-Culture_City.png" alt="logo"></div>
     <!-- <h5><span class="phone"></span>Contact : 980.56.33.0</h5> -->
      <div class="menu">
        <ul id="navigation">
          <li><a href="index.html">Главная</a></li>
          <li><a href="about.html">О проекте</a></li>
          <li><a href="create.html">Создать</a></li>
          <li><a href="read.html">Читать</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
  </div>

{% block content %} 

{% endblock %}


  <div class="block">
    <div class="footer">
      <p class="footer-text">Copyright &copy; 2045 </p>
      <div class="menu">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Создать</a></li>
          <li><a href="#">Читать</a></li>
          <li><a href="#">Контакты</a></li> 
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">shineLinks('navigation');</script>
</body
</html>


