{% extends "base.html" %}
{% block content %}

<div class="block">
  <div class="rules">
    <h1>Правила написания статьи</h1>
    <ul>
        <li>Содержание статьи не должно оскорблять чувства и достоинство другого человека</li>
        <li>Содержание статьи должно представлять интеллектуальную ценность</li>
        <li>После отправки статьи автор предоставляет право на размещение материалов по усмотрению сотрудников проекта</li>
        <li>Графически оформленная статья является более приоритетной к размещению нежелии статья в текстовом формате</li>
        <li>Форматы принимаемых файлов - <span class="file-formats">indp, psd, txt, doc, docs, jpeg, jpg, pptx</span></li>
        <li>Размер отправляемых файлов должен быть не более 15 мб</li>
    </ul>
    <h1>Как статья попадает в печать</h1> 
    <ul>
        <li>После достижения статьей Рейтинга в 10 баллов, она встает в очередь на отправку в печать</li>
        <li>Выставлять рейтинг могут "Культурные администраторы" - пользователи, у которых есть 2 и более одобренных на печать статьи</li>
        <li>На отправку также влияют положительные комментарии пользователей</li>
    </ul>
  </div>

  <div class="form">
    <h2>Вы можете отправить нам уже готовую статью</h2>
     <form action="{{ url_for('create') }}" method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
       <p>Введите ваше Имя:</p>
       <!--no need class "send form here" -->
       {{form.author_name(class="send-form", placeholder="Иванов Иван Иванович")}}
        {% for error in form.errors.author_name %}
        <span style="color:red"; class="flash-message">{{error}}</span>
        {% endfor %}
       <p>Введите название статьи:</p>
       {{ form.article_name(class="send-form", placeholder="Название Вашей статьи")}}
        {% for error in form.errors.article_name %}
        <span style="color:red" class="flash-message">{{error}}</span>
        {% endfor %}
       <p>Введите ваш электронный адрес:</p>
       {{ form.email(class="send-form", placeholder="culture-city@gmail.com") }}
        {% for error in form.errors.email %}
        <span style="color:red" class="flash-message">{{error}}</span>
        {% endfor %}
       <input type="file" id="upload" name="userfile" class="upload"/>
       <label for="upload" class="btn yellow"><span>Открыть статью</span></label>
       <input type="button" class="btn red" onclick="submitForm(this);" value="Отправить статью"/>
      <!-- <button class="btn red" onclick="submitForm(this);">Отправить статью</button> -->
       </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flash-message">
                {% for message in messages %}
                <li><span style="color:{{message[0]}}">{{ message[1] }}</span></li>
                {% endfor %}
            </ul>
             {% endif %}
             {% endwith %}
   <h3>Или создать свою, воспользовавшись руководством ниже</h3>
   <h3>КАПЧА</h3>
    </div>
  </div>
  
    <hr>
<div class="block">
  <div class="create-block">
    <h1>Руководство по созданию статьи</h1>
    <h5>Видеоинструкция по созданию статьи в бесплатном <a href="http://gimp.ru/download/gimp/">графическом редакторе GIMP</a></h5>
    <p><img src="/static/images/videocam.jpg" width="90%"></p>
    <h5>Видеоинструкция по созданию статьи в <a href="http://www.adobe.com/ru/products/photoshop.html">графическом редакторе Adobe Photoshop</a></h5>
    <p><img src="/static/images/videocam.jpg" width="90%"></p>
  </div>

</div>
{% endblock %}
