{% extends "base.html" %}
{% block content %}

<div class="block">
  <div class="rules">
    <h1>Правила написания статьи</h1>
    <ul>
        <li>Содержание стать не должно оскорблять чувства и достоинство другого человека</li>
        <li>Содержание статьи должно представлять интелектуальную ценность</li>
        <li>Решаемая проблема с авторским правом</li>
        <li>В статье не должно быть орфографических ошибок</li>
        <li>Графически оформленная статья является более приоритетной к размещению нежелии сстатья в текстовом формате</li>
        <li>Форматы принимаемых файлов - psd, txt, doc, docs, jpeg, jpg</li>
        <li>Решение об отправлении статьи в печать выносится Комиссией на основании оценки пользователей и собственного анализа</li>
        <li>Здесь будет еще одно правило. Дополнительное</li>
        <li>Здесь будет правило номер три. Каким оно будет - пока непонятно</li>
        <li>Запорченный файлы статей будут удаляться</li>
    </ul>
  </div>

  <div class="form">
    <h2>Вы можете отправить нам уже готовую статью</h2>
     <form action="{{ url_for('create') }}" method="POST" enctype="multipart/form-data" name="contact">
        {{form.hidden_tag()}}
       <p>Введите ваше Имя:</p>
       <!--no need class "send form here" -->
       {{form.author_name(class="send-form")}}
        {% for error in form.errors.author_name %}
        <span style="color:red"; class="flash-message">{{error}}</span>
        {% endfor %}
       <p>Введите название статьи:</p>
       {{ form.article_name(class="send-form")}}
        {% for error in form.errors.article_name %}
        <span style="color:red" class="flash-message">{{error}}</span>
        {% endfor %}
       <p>Введите ваш электронный адрес:</p>
       {{ form.email(class="send-form") }}
        {% for error in form.errors.email %}
        <span style="color:red" class="flash-message">{{error}}</span>
        {% endfor %}
       <!--Add cleaning form after send article to database -->
      <!--<p>Set you name:<br><input type="text" name="author_name"></p>
       <p>Set article_name:<br><input type="text" name="article_name"></p>
       <p>Set email:<br><input type="text" name="email"></p> -->
      <!--<div class="file_upload"><p>Выбрать файл<input type="file" name="userfile"></p> </div>
       <p><input type="submit" value="Add file" class="btn red"></p> -->
       <input type="file" id="upload" name="userfile" class="upload"/>
       <label for='upload' class="btn yellow"><span>Открыть статью</span></label>
      <input type="button" value="Отправить статью" class="btn red" onclick="submitForm(this);">
       </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flash-message">
                {% for message in messages %}
                <li><span style="color:{{message[0]}}">{{ message[1] }}</span></li>
                {% endfor %}
            </ul>
             {% endif %}
             {% endwith %}
  </div>
  </div>
   <h3 style="text-align:center">Или вы можете воспользоваться формой ниже, чтобы создать свою статью</h3>
<div class="create-block">
<!--  <iframe frameborder="0" src="http://mega-photoshop.ru/fotoshop_onlajn.html" height="950px" width="100%" ></iframe><br/> -->
</div>

{% endblock %}
