{% extends "base.html" %}
{% block content %}
  <div class="main">
      <div class="slide-show">
            <img src="/static/images/waw1.png" alt="">
            <!--<ul>
              <li class="image"><img src="/static/images/waw.png" alt=""></li>
              <li class="image"><img src="/static/images/waw1.png" alt=""></li>
              <li class="image"><a href="#"><img src="/static/images/waw2.png" alt=""></a></li>
            </ul>-->
    </div>
   <div class="main-description">
     <h2>Культурный город - </h2>
     <h4>&emsp; - город, который делают люди</h4>
     <p>Напишите свою стать, отправьте ее в "Культурный город" и ее прочитает Санкт-Петербург</p>
     <a href="#" class="btn red">Написать</a>
     <p class="sidetext">Ознакомится с правилами написания статей можно в разделе <span>"Написать"</span></p>
   </div>
  </div>
  <div class="tagline">
    <h1>Давайте делать город лучше</h1>
    <p>Когда вы делаете что то для других, от этого становится лучше вам</p>
    <p>Когда другие делают что то для вас - от этого становится лучше вам</p>
   <!-- <p>Давайте делать для других, и другие начнут делать для вас</p> -->
   <p>Давайте делать так, чтобы становилось лучше</p>
  </div>
    <div class="block">
      <div class="feature">
        <img src="/static/images/icon1.png" alt=""></img>
        <h3>Написать статью</h3>
        <p>Напишите статью, отправьте ее в "Культурный город" и ее увидит Санкт-Петербург</p>
      </div>
      <div class="feature">
        <img src="/static/images/icon2.png" alt=""></img>
        <h3>О проекте</h3>
        <p>Как функционирует проект, основые его состоявляющей деятельности</p>
      </div>
      <div class="feature">
        <img src="/static/images/icon3.png" alt=""></img>
        <h3>Читать Статьи</h3>
        <p>Прочитайте статьи, которые написали соотечественники. Это интересно</p>
      </div>
      <div class="feature">
        <img src="/static/images/icon4.png" alt=""></img>
        <h3>Наши контакты</h3>
        <p>Вы посмотрели сайт и у вас остались вопросы? Пишите нам и мы с радостью вам ответим</p>
      </div>
    </div>
  <div class="partners">
    <h1>Наши партнеры</h1>
      <div class="partners-name">
        <img src="/static/images/icon1.png" alt=""></img>
        <h3>написать статью</h3>
        <p>напишите статью, отправьте ее в "культурный город" и ее увидит санкт-петербург</p>
      </div>
  
      <div class="partners-name">
        <img src="/static/images/icon1.png" alt=""></img>
        <h3>написать статью</h3>
        <p>напишите статью, отправьте ее в "культурный город" и ее увидит санкт-петербург</p>
      </div>
  
      <div class="partners-name">
        <img src="/static/images/icon1.png" alt=""></img>
        <h3>написать статью</h3>
        <p>напишите статью, отправьте ее в "культурный город" и ее увидит санкт-петербург</p>
      </div>
  
  </div>
  







{% endblock %}
