{% extends "base.html" %}
{% block content %}
    <div class="form" style="float:left;">
        <form action="{{ url_for('login') }}" method="POST" enctype="multipart/form-data" name="login">
        {{form.hidden_tag()}}
       <p>Введите логин:</p>
       <!--no need class "send form here" -->
       {{form.login(class="send-form")}}
        {% for error in form.errors.author_name %}
        <span style="color:red"; class="flash-message">{{error}}</span>
        {% endfor %}
       <p>Введите пароль:</p>
       {{ form.password(class="send-form")}}
        {% for error in form.errors.article_name %}
        <span style="color:red" class="flash-message">{{error}}</span>
        {% endfor %}
       <p><input type="checkbox" name="remember_me" value="a1" checked>Запомнить меня</p>
      <input type="submit" value="Отправить" class="btn red" style="float:left;">
        </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            <ul class="flash-message" style="float:right">
            {% for message in messages %}
              <li><span style="color:{{message[0]}}">{{message[1]}}</span></li>
            {% endfor %}
            </ul>
    {% endif %}
    {% endwith %}
    </div>




{% endblock %}

