{% extends "base.html" %}
{% block content %}
  <div class="articles">
    <div id="find" class="form">
        <h3>Форма поиска статьи</h3>
        <form action="find" method="POST" enctype="multipart\form-data">
            {{findForm.hidden_tag()}}
            {{findForm.article_name(placeholder="Поиск по названию статьи")}}
            {{findForm.author_name(placeholder="Поиск по имени автора")}}
            <input type="submit" value="Найти" class="btn red">
    </div>
    <h1>Статьи пользователей</h1>
      <img src="/static/images/fenka.jpg" alt="fenka" width="450" height="100" style="margin-left:50px;"></img>
    <div class="table" cellspacing='0'>
  <table>
    <tr>
      <th>Author name</th>
      <th>Article name</th>
      <th>Adding date</th>
      <th>Link</th>
      <th>Status</td>
    </tr>
    {% for record in records %}
    <tr>
      <td>{{record.author_name}}</td>
      <td>{{record.article_name}}</td>
      <td>{{record.date}}</td>
      <td style="text-align:center;"><a name="bla" href="get_file.html?filename={{record.article_file}}&article_name={{record.article_name}}&id={{record.id}}&author_name={{record.author_name}}&date={{record.date}}&status={{record.status}}">Читать статью</a></td>
      <td style="text-align:center; color:{{g.status[record.status][1]}};">{{g.status[record.status][0]}}</td>
    </tr>
    {% endfor %}
  </table>
    </div>
    <br>
    <br>
  </div>
{% endblock %}

