{% extends "base.html" %}
{% block content %}
  <div class="articles">
    <div id="find" class="form"> <!-- why id=find here? -->
        <h3>Форма поиска</h3>
        <form action="{{url_for('read')}}" method="POST" enctype="multipart\form-data">
            {{form.hidden_tag()}}
            {{form.author_name(placeholder="Поиск по имени автора")}}
            {{form.article_name(placeholder="Поиск по названию статьи")}}
            <input type="submit" value="Найти" class="btn red">
        </form>
    </div>
    <h1>Статьи пользователей</h1>
      <img src="/static/images/fenka.jpg" alt="fenka"></img>
    <div class="table" cellspacing='0'>
  <table>
    <tr>
      <th>Имя автора</th>
      <th>Название статьи</th>
      <th>Дата добавления</th>
      <th>Перейти</th>
      <th>Статус</td>
    </tr>
    {% for article in articles %}
    <tr>
      <td>{{article[1]}}</td>
      <td>{{article[2]}}</td>
      <td><script>time_format('{{article[3]}}')</script></td>
      <td style="text-align:center;"><a name="bla" href="get_article.html?id={{article[0]}}">Читать статью</a></td>
      <td style="text-align:center; color:{{g.status[article[4]][1]}};">{{g.status[article[4]][0]}}</td>
    </tr>
    {% endfor %}
  </table>
    </div>
    <br>
    <br>
  </div>


{% endblock %}

