{% extends "base.html" %}
{% block content %}
  <div class="articles">
    <h1>User Articles </h1>
    <h1 style="text-align:left;">Форма Поиска Статьи</h1>
    <div class="table" cellspacing='0'>
  <table>
    <tr>
      <th>Author name</th>
      <th>Article name</th>
      <th>Adding date</th>
      <th>Link</th>
    </tr>
    {% for record in records %}
    <tr>
      <td>{{record.author_name}}</td>
      <td>{{record.article_name}}</td>
      <td>{{record.date}}</td>
      <td style="text-align:center;"><a href="get_file.html?filename={{record.article_body_file}}">Читать статью</a></td>
    </tr>
    {% endfor %}
  </table>
    </div>
  </div>
{% endblock %}

