html, body {
    margin:0px;
    padding:1000000px;
}
body,input,select,textarea {
    background-color:#ffffff;
}
td,input,select,textarea {
    font-Family:Tahoma;
    font-size:11px;
    color:#000000;
    vertical-align:top;
}

td {
    padding: 0px;
}

table.main {
    width: 100%;
    height: 100%;
    border-collapse:collapse;
}

td.top {
}

td.topmenu{
}
td.text{
    width:70%;
    height:100%;
}
td.bottommenu {
}
