{% extends "base.html" %}
{% block content %}
        <div id="user_comment">
        </div>
            <p onclick="get_comment()">Далее</p>

<script>
    var data = {{ comment|safe }};
    var mydiv = document.getElementById('user_comment');
    for (var i = 0; i <=3; i++){
        var div = document.createElement('div');
        div.innerHTML = "<p><span class='comment_fieldi'>Имя пользователя</span> - " + data[i][0] + "</p>" +
        "<p><span class='comment_fieldi'>Комментарий</span> - " + data[i][1] + "</p>"+
        "<p><span class='comment_fieldi'>Дата</span> - " + data[i][2] + "</p>" + "<br>";
        mydiv.appendChild(div);
        }
</script>

<script>
$('.comment').html("{{comment}}");

</script>
{% endblock %}
