{% extends "base.html" %}
{% block content %}
<h1>jopa-popa</h1>
<a href="test1.html">тетс</a>
<p>{{records}}</p>
<a id="myLink" title="Click to do something"
 href="test1.html" onclick="showMessage({{records}});">link text</a>


      <form action="test.html" method="POST" id="formx">
        <p>Ваше Имя</p>
          <input name="name" type="text">
        <p>Электронная почта:</p>
          <input name="email" type="text">
          <input type="hidden" name="art_id" value="{{id}}">
        <p>Комментарий:</p>
          <textarea cols="10" rows="10" name="comment"></textarea>
        <p>Оцените статью по 10-бальной шкале:</p>
          <input type="button" value="0" name="counter" id="counter" onclick="counterr(this.id)" style="margin-bottom:10px; float:left;">
          <input type="button" class="btn red" onclick="sendPost(this.form)" value="Отправить">
      </form>



{% endblock %}

